:root {
  --branding-color: #70ff00;
  --secondary-color: #e0e0e0;
  --third-color: #828282;
  --secondary-font: "Courier Prime", monospace;
  --default-font: "Roboto", sans-serif;
}

body {
  font-family: var(--default-font);
  color: var(--secondary-color);
  background: linear-gradient(
    130.36deg,
    #000000 0%,
    #272727 44.03%,
    #494949 99.99%,
    #727272 100%
  );
}

/* Styling navbar*/
.navbar {
  background: #828282;
}

.navbar-brand {
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  text-transform: uppercase;
  color: #272727;
  padding-left: 0;
}
.navbar-brand:hover {
  color: var(--branding-color);
}

.navbar-brand span {
  color: white;
}

.navbar-brand:hover > * {
  color: var(--branding-color);
}

.navbar-toggler-icon {
  color: white;
}

.navbar-toggler-icon :hover {
  color: var(--branding-color);
}

.nav-link {
  margin-right: 1rem;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
}
.nav-link:hover {
  color: var(--branding-color);
}

/* Styling introduction section*/
.introduction {
  margin-left: 0;
  padding-left: 0;
}
.introduction-text {
  margin-block-start: 0;
  padding-left: 0;
}

.introduction h3 {
  font-size: 2.4rem;
  line-height: 2.87rem;
  color: var(--secondary-color);
  margin-left: 0;
  padding-left: 0;
  margin-block-start: 0;
}

.introduction h2 {
  font-size: 3.5rem;
  line-height: 4rem;
  margin-left: 1rem;
}

.introduction h1 {
  font-size: 4.8rem;
  line-height: 5.6rem;
  color: var(--branding-color);
  margin-block-start: 0;
}

.introduction h4 {
  color: var(--third-color);
  font-size: 5.37rem;
  margin-left: 0;
}

.introduction h5 {
  color: var(--third-color);
  font-size: 1.68rem;
  font-weight: 400;
  line-height: 2rem;
  text-transform: uppercase;
  margin-left: 0;
}

/* Styling profile image*/
.profile-picture {
  width: 400px;
  margin-right: 6.5rem;
}

.subheading h3 {
  font-size: 3rem;
  line-height: 3.5rem;
  color: var(--branding-color);
  margin-left: 0;
}

/* Styling about me section*/

.about-me p {
  font-size: 1.81rem;
  line-height: 2.12rem;
}

.about-me-btn {
  background: #4f4f4f;
  box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}

.about-me-btn p {
  font-family: var(--secondary-font);
  font-size: 1.8rem;
  line-height: 2rem;
  padding: 0.5rem;
}

.about-me-btn a {
  font-family: var(--secondary-font);
  color: var(--branding-color);
  font-size: 1.5rem;
  line-height: 1.5rem;
  padding: 0.5rem;
}

/* Styling skills section*/
.skills {
  background-color: #161616;
}

.skills i {
  font-size: 3rem;
}
.skills p {
  font-size: 1.5rem;
}

.vscode {
  color: var(--secondary-color);
}
.bordered-img {
  box-sizing: border-box;
  background: rgba(37, 37, 37, 0.39);
  border: 3px solid var(--branding-color);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
}

/* Styling Project Section*/
.projects {
  background-color: #161616;
}

.projects h4 {
  color: white;
  font-size: 2rem;
  margin-top: 1rem;
}

.projects p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.project-img {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.project-btn {
  font-size: 1.3rem;
  font-weight: bold;
  border: 2px solid var(--branding-color);
  box-sizing: border-box;
  border-radius: 0.75rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  color: var(--secondary-color);
}

.project-btn:hover {
  color: var(--branding-color);
  text-decoration: none;
}

/*Styling footer Section*/
footer a {
  text-decoration: none;
  color: var(--third-color);
  text-align: center;
}

footer a:hover {
  color: var(--branding-color);
}

/* Styling Contact Section*/
.contact-me h4,
p {
  margin-left: 1rem;
}
.contact-me a {
  text-decoration: none;
  color: var(--secondary-color);
}
.contact-me a:hover {
  text-decoration: none;
  color: var(--branding-color);
}

@media (max-width: 700px) {
  .subheading h3 {
    margin-left: 0;
  }
}

@media (max-width: 1024px) {
  .profile-picture {
    display: none;
  }
}
